@keyframes fadein {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
}

h1 {
    color: black;
    font-size: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    animation-duration: 1.5s;
    animation-name: fadein;
}

h2 {
    margin: 0;
    font-size: 49px;
}